.row
  = simple_form_for @announcement , html: {class: 'form-horizontal form' } do |f|
    .col-md-8.col-md-offset-1
      -#TODO Make form centered
      .row
        .col-md-8
          = f.input :title
          = f.input :body, input_html: {rows: 8}
        .col-md-4
          = f.input :publish_on, as: :string
          = f.input :expire_on, as: :string
          = f.input :critical_flag
          = f.button :submit, class: "btn-primary"
          -#TODO style button to align up with text fields

:coffee
  $('#announcement_publish_on, #announcement_expire_on').each ->
    $picker_input = $(this)
    $picker_input.datepicker
      dateFormat: 'yy-mm-dd'
      showOn: 'focus'

  tinymce.init
    selector: "textarea"
    plugins: "textcolor"
    toolbar: "undo redo | styleselect | bold italic | bullist numlist | forecolor backcolor"